img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
.teacher-image {
    justify-content: center;
}
.mongol-test {
    font-size: 50px;
    text-align: center;
}